
<div _ngcontent-serverapp-c382="" fxflex="100" class="px-3 mb-4" ng-reflect-fx-flex="100" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
    <h1 _ngcontent-serverapp-c382="" class="fw-500 text-center secondary-font">Payment history</h1>
</div>

<div class="table-wrapper"> 
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > <strong>ID</strong> </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
        </ng-container>  
  
        <!-- Date Column -->
        <ng-container matColumnDef="market">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                	<strong style="color:green ">Market</strong> </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.date}}</td>
        </ng-container> 
    
        <!-- Time Column -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                	<strong style="color:green ">Paid On</strong> </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.time}}</td>
        </ng-container>  

        <!-- Guests Column -->
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                 <strong style="color:green ">Expiration Date </strong></th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.guests}}</td>
        </ng-container> 

        <!-- Table Number Column -->
        <ng-container matColumnDef="information">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                <strong style="color:green ">Payment Info</strong> </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.tableNumber}}</td>
        </ng-container> 

       
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let reservation; columns: displayedColumns;"></tr>
    </table> 
    <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
