
    <div >
        <div class="search-bar" fxLayout="row" fxLayoutAlign="center">
            <form method="get">
                <mat-form-field style="width: 400px;" >
                <input type="text" 
                    style="background-color: azure;"
                    aria-label="Search"
                    [matAutocomplete]="auto"
                    class="mat-elevation-z3" 
                    placeholder="Search for Stocks"
                    [formControl]="myControl"
                    matInput
                    [(ngModel)] = "listFilter"
                    >
        
                    <mat-autocomplete  #auto="matAutocomplete" >
                    <mat-option *ngFor="let option of filterData" [value]="option">
                        {{option.name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field> 
        
                <button mat-icon-button (click)="toggleSearchBar = !toggleSearchBar" type="button" style="margin-left: 10px;">
                <mat-icon >search</mat-icon>
                </button>
            </form>
        </div>
    </div>
