.search-bar{
    form{
        input{
            height: 40px;
            border: none;
            padding: 0;
            border-radius: 15px;
            outline: none;
            color: #444;
            width: 0;
            overflow: hidden;
            transition: 0.3s;
            // padding: 0 8px;
            width: 500px;
            text-align: center;
            font-size: medium;
            background-color: azure;
        }       
    }
}

.market{
     margin: 0 auto;
      background-color: beige;
}