    
    <form [formGroup]="paymentMethod" fxLayout="row wrap" class="flex-wrapper">
        <div fxFlex="100" class="px-3 mb-4">
            <h1 class="fw-500 text-center secondary-font">Payment Method</h1>
        </div>
        
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-3">
            <span class="text-muted">Credit Card</span>
            <img src="assets/images/others/payments.png" alt="">
        </div>        
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name on Card</mat-label>
                <input matInput placeholder="Card holder name" formControlName="cardHolderName" required>
                <mat-error *ngIf="paymentMethod.controls.cardHolderName.errors?.required">Card holder name name is required</mat-error> 
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Card number</mat-label>
                <input matInput placeholder="Card number" formControlName="cardNumber" required>
                <mat-error *ngIf="paymentMethod.controls.cardNumber.errors?.required">Card number is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Expired month</mat-label>
                <mat-select placeholder="Expired month" formControlName="expiredMonth" required>
                  <mat-option *ngFor="let month of months" [value]="month.value">
                      {{month.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paymentMethod.controls.expiredMonth.errors?.required">Expired month is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Expired year</mat-label>
                <mat-select placeholder="Expired year" formControlName="expiredYear" required>
                  <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paymentMethod.controls.expiredYear.errors?.required">Expired year is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>CVV</mat-label>
                <input matInput placeholder="CVV" formControlName="cvv" required maxlength="3">
                <mat-error *ngIf="paymentMethod.controls.cvv.errors?.required">CVV is required</mat-error>
                <mat-error *ngIf="paymentMethod.controls.cvv.hasError('minlength')">CVV isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
            
            <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="onSubmitForm('paymentMethod')" type="submit">
                <span class="mx-1 uppercase">Next</span>                    
                <mat-icon>navigate_next</mat-icon>
            </button> 
        </div>
    </form>  
