.spinner-wrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 9999;
    background: #fff;
    visibility: visible;
    opacity: 1;  
    transition: visibility 0.5s, opacity 0.3s linear;
    &.hide{
        visibility: hidden;
        opacity: 0; 
    }
    .spinner-container{
        height:100%;
        width:100%;
        display:table;
        .spinner-outer{
            vertical-align:middle;
            height:100%;
            display:table-cell;
            .spinner{
                position: relative;
                margin: 0 auto;
                height: 150px;
                width: 234px;
                box-sizing: border-box;  
                svg.candle g path:first-child {
                    fill:red;
                    animation: candle-flame-change 2s infinite;
                }
                svg.plate {
                    animation: plate-rotate 2s linear infinite;
                }
                
            }
            p.spinner-text{  
                font-family: 'Montserrat';
                font-size: 48px; 
                font-weight: 500;
                text-align: center;
                transition: 1s;
            }
        }
    }
}

@keyframes plate-rotate { 
    100% {  
        transform: rotate(360deg);
    } 
}

@keyframes candle-flame-change {
    0% { fill: #c62828; }
    25% { fill: #E65100; }
    50% { fill: #FFF176; }
    75% { fill: #FF8F00; }
    100% { fill: #FFC107; }
} 