
    <div class="p-3">
        <div class="theme-container"> 
            <mat-card class="p-4">
                <div class="frame-box mt-0 pt-0">
                        <div class="top-mask"></div>
                        <div class="bottom-mask"></div>
                        <div class="content-wrapper">
                            <div class="content">  
                                <!--   -->
                                <form [formGroup]="mailsForm" (ngSubmit)="onSubmit()"> 
                                    <mat-label>Subject</mat-label> 
                                    <mat-form-field  appearance="outline" class="w-100 mt-2">
                                        <!-- <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon> -->
                                        <input matInput formControlName="subject" required>
                                        <!-- <mat-error *ngIf="registerForm.controls.username.errors?.required">Username is required</mat-error> -->
                                        <!-- <mat-error *ngIf="registerForm.controls.username.hasError('minlength')">Username isn't long enough, minimum of 6 characters</mat-error> -->
                                    </mat-form-field>
    
                                    <!-- <div fxFlex="40">  
                                    <app-image-upload [fileSize]="400"></app-image-upload> 
                                    </div> -->
                                    <!-- <mat-form-field  appearance="outline" class="w-100 mt-1"> -->
                                        <!-- <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon> -->
                
                                        <!-- <input matInput   formControlName="attachment" required> -->
                                        <!-- <mat-error *ngIf="registerForm.controls.email.errors?.required">Email is required</mat-error> -->
                                        <!-- <mat-error *ngIf="registerForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error> -->
                                    <!-- </mat-form-field> -->
    
                                    <div class="container">
                                        <div class="row editor">
                                          <div class="col-md-8">
                                              <div class="form-group">
                                                 <label for="editor">
                                                   <h3>Body</h3>
                                                 </label>
                                                 <quill-editor [styles]="{'height': '300px'}" formControlName="body"></quill-editor>
                                               </div>
                                          </div>
                                        </div>
                                    </div>
                                    <mat-label>Group</mat-label> 
                                    <mat-form-field  appearance="outline" class="w-100 mt-1">
                                        <mat-select formControlName="groupId">
                                            <mat-option *ngFor="let grp of listGroups" [value]="grp.id">
                                                {{grp.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field> 

                                    <mat-card-actions>

                                        <mat-form-field >
                                            <mat-label>send test email to</mat-label>
                                            <input matInput >
                                        </mat-form-field>
                                     
                                        <button mat-raised-button color="accent" class="uppercase" type="submit">
                                            Save
                                        </button>

                                        <button mat-raised-button color="primary" class="uppercase" type="submit">
                                            Save Copy
                                        </button>
                                    </mat-card-actions>
                                     
                                </form>
                                
                            </div>
                        </div> 
                </div> 
            </mat-card> 
        </div>
        
    </div>
   
